.results-page {
  .ant-card {
    .ant-card-extra {
      .ant-input-search {
        .ant-input-group-addon {
          background: transparent;
        }
      }
    }
  }

  .ant-table {
    .ant-table-thead > tr > th {
      background: #fafafa;
      font-weight: 600;
    }

    // 固定列样式
    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
      background: #fff;
    }
  }
}